:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  line-height: 1.3;
  background-color: var(--dark-cyan);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
  background-repeat: no-repeat;
}

.container {
  position: relative;
  width: 325px;
  height: 375px;
  background-color: white;
  background-image: url(images/bg-pattern-card.svg);
  background-size: auto;
  background-repeat: no-repeat;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

@media screen and (min-width: 600px) {
  .container {
    width: 350px;
    background-size: contain;
  }
}

.profile_card_info {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile_card_stats {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 350px;
  height: 90px;
  border-top: 1px solid hsla(227, 10%, 46%, 0.25);
}

.profile_pic {
  position: absolute;
  left: 50%;
  top: 24%;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 4px solid white;
}

.age,
.info_city,
.stats_title {
  color: var(--dark-grayish-blue);
  font-weight: 300;
}

.name,
.stats_num {
  color: var(--very-dark-desaturated-blue);
  font-weight: 700;
}

.info_city,
.stats_title {
  font-size: 12px;
}

.info,
.info_city,
.stats_num,
.stats_title {
  margin: 5px;
}
